# Set the cache-control max-age
# 1 year
<FilesMatch ".(ico|pdf|flv|jpg|jpeg|png|gif|js|css|swf)$">
Header set Cache-Control "max-age=31449600, public"
</FilesMatch>
# 1 week
<FilesMatch ".(xml|txt)$">
Header set Cache-Control "max-age=604800, public, must-revalidate"
</FilesMatch>
# 1 week
<FilesMatch ".(html|htm)$">
Header set Cache-Control "max-age=604800, must-revalidate"
</FilesMatch>